-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: aura_stone_erp
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `bom_bill_lines`
--

DROP TABLE IF EXISTS `bom_bill_lines`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bom_bill_lines` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `bill_id` int(11) NOT NULL,
  `item_id` varchar(50) NOT NULL,
  `quantity_consumed` decimal(12,3) NOT NULL,
  `unit_cost` decimal(12,2) NOT NULL DEFAULT 0.00,
  `line_cost` decimal(15,2) GENERATED ALWAYS AS (`quantity_consumed` * `unit_cost`) STORED,
  PRIMARY KEY (`id`),
  KEY `idx_bill` (`bill_id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bom_bill_lines`
--

LOCK TABLES `bom_bill_lines` WRITE;
/*!40000 ALTER TABLE `bom_bill_lines` DISABLE KEYS */;
INSERT INTO `bom_bill_lines` VALUES (1,1,'RM-002',60.000,0.60,36.00),(2,1,'RM-004',40.000,1.20,48.00),(3,1,'RM-006',2.000,8.00,16.00),(4,1,'RM-012',18.000,0.01,0.18),(5,2,'RM-001',200.000,0.85,170.00),(6,2,'RM-004',480.000,1.20,576.00),(7,2,'RM-011',360.000,0.15,54.00),(8,2,'RM-012',84.000,0.01,0.84),(9,2,'RM-013',1.080,5.00,5.40),(10,2,'RM-014',0.260,3.50,0.91),(11,3,'RM-001',250.000,0.85,212.50),(12,3,'RM-004',600.000,1.20,720.00),(13,3,'RM-011',450.000,0.15,67.50),(14,3,'RM-012',105.000,0.01,1.05),(15,3,'RM-013',1.350,5.00,6.75),(16,3,'RM-014',0.325,3.50,1.14);
/*!40000 ALTER TABLE `bom_bill_lines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bom_bills`
--

DROP TABLE IF EXISTS `bom_bills`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bom_bills` (
  `bill_id` int(11) NOT NULL AUTO_INCREMENT,
  `production_id` varchar(50) NOT NULL,
  `recipe_id` int(11) NOT NULL,
  `mix_runs` int(11) DEFAULT 1,
  `total_material_cost` decimal(15,2) NOT NULL DEFAULT 0.00,
  `status` enum('Generated','Sent to Finance','Acknowledged') DEFAULT 'Generated',
  `generated_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `generated_by` int(11) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  PRIMARY KEY (`bill_id`),
  KEY `idx_prod` (`production_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bom_bills`
--

LOCK TABLES `bom_bills` WRITE;
/*!40000 ALTER TABLE `bom_bills` DISABLE KEYS */;
INSERT INTO `bom_bills` VALUES (1,'MX-260419-3279',2,1,100.18,'Generated','2026-04-19 07:18:26',1,NULL),(2,'MX-260419-0083',1,4,807.15,'Generated','2026-04-19 07:25:28',1,NULL),(3,'MX-260419-7714',1,5,1008.94,'Generated','2026-04-23 10:00:01',1,NULL);
/*!40000 ALTER TABLE `bom_bills` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chart_of_accounts`
--

DROP TABLE IF EXISTS `chart_of_accounts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chart_of_accounts` (
  `account_id` int(11) NOT NULL,
  `account_name` varchar(100) NOT NULL,
  `account_type` enum('Asset','Liability','Equity','Revenue','Expense') NOT NULL,
  PRIMARY KEY (`account_id`),
  UNIQUE KEY `account_name` (`account_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chart_of_accounts`
--

LOCK TABLES `chart_of_accounts` WRITE;
/*!40000 ALTER TABLE `chart_of_accounts` DISABLE KEYS */;
INSERT INTO `chart_of_accounts` VALUES (1000,'Cash','Asset'),(1100,'Accounts Receivable','Asset'),(1200,'Inventory - Raw','Asset'),(1300,'Inventory - Finished','Asset'),(2000,'Accounts Payable','Liability'),(2100,'Accrued Wages','Liability'),(3000,'Owner\'s Equity','Equity'),(4000,'Sales Revenue','Revenue'),(4100,'Other Income','Revenue'),(5000,'Cost of Goods Sold','Expense'),(5100,'Wages Expense','Expense'),(5200,'Materials Expense','Expense'),(5300,'Overhead Expense','Expense');
/*!40000 ALTER TABLE `chart_of_accounts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customers`
--

DROP TABLE IF EXISTS `customers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `customers` (
  `customer_id` int(11) NOT NULL AUTO_INCREMENT,
  `company_name` varchar(255) NOT NULL,
  `contact_person` varchar(100) DEFAULT NULL,
  `phone_number` varchar(20) DEFAULT NULL,
  `email` varchar(150) DEFAULT NULL,
  `lead_status` enum('New','Contacted','Quoted','Converted') DEFAULT 'New',
  `default_address` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`customer_id`),
  UNIQUE KEY `company_name` (`company_name`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customers`
--

LOCK TABLES `customers` WRITE;
/*!40000 ALTER TABLE `customers` DISABLE KEYS */;
/*!40000 ALTER TABLE `customers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `defect_logs`
--

DROP TABLE IF EXISTS `defect_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `defect_logs` (
  `defect_id` int(11) NOT NULL AUTO_INCREMENT,
  `production_id` varchar(50) NOT NULL,
  `defect_reason` varchar(255) NOT NULL,
  `scrap_quantity` decimal(12,3) NOT NULL,
  `logged_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`defect_id`),
  KEY `production_id` (`production_id`),
  CONSTRAINT `defect_logs_ibfk_1` FOREIGN KEY (`production_id`) REFERENCES `production_orders` (`production_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `defect_logs`
--

LOCK TABLES `defect_logs` WRITE;
/*!40000 ALTER TABLE `defect_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `defect_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `departments`
--

DROP TABLE IF EXISTS `departments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `departments` (
  `department_id` int(11) NOT NULL AUTO_INCREMENT,
  `department_name` varchar(100) NOT NULL,
  PRIMARY KEY (`department_id`),
  UNIQUE KEY `department_name` (`department_name`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `departments`
--

LOCK TABLES `departments` WRITE;
/*!40000 ALTER TABLE `departments` DISABLE KEYS */;
INSERT INTO `departments` VALUES (1,'Executive Board'),(5,'Finance'),(6,'Information Technology'),(4,'Procurement'),(2,'Production'),(3,'Sales'),(7,'Warehouse & Inventory');
/*!40000 ALTER TABLE `departments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employees`
--

DROP TABLE IF EXISTS `employees`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `employees` (
  `employee_id` int(11) NOT NULL AUTO_INCREMENT,
  `department_id` int(11) NOT NULL,
  `role_id` int(11) DEFAULT NULL,
  `first_name` varchar(50) NOT NULL,
  `last_name` varchar(50) NOT NULL,
  `email` varchar(150) NOT NULL,
  `cv_document_url` varchar(255) DEFAULT NULL,
  `verification_status` enum('Pending','Approved','Rejected') DEFAULT 'Pending',
  `hire_date` date DEFAULT NULL,
  `performance_score` decimal(3,2) DEFAULT 0.00,
  `base_allowances` decimal(12,2) DEFAULT 0.00,
  `overtime_rate` decimal(12,2) DEFAULT 0.00,
  `base_salary` decimal(10,2) DEFAULT 0.00,
  `ssc_number` varchar(50) DEFAULT NULL,
  `available_annual_leave` int(11) DEFAULT 14,
  PRIMARY KEY (`employee_id`),
  UNIQUE KEY `email` (`email`),
  KEY `department_id` (`department_id`),
  KEY `fk_employees_role` (`role_id`),
  CONSTRAINT `employees_ibfk_1` FOREIGN KEY (`department_id`) REFERENCES `departments` (`department_id`),
  CONSTRAINT `fk_employees_role` FOREIGN KEY (`role_id`) REFERENCES `roles` (`role_id`)
) ENGINE=InnoDB AUTO_INCREMENT=1002 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employees`
--

LOCK TABLES `employees` WRITE;
/*!40000 ALTER TABLE `employees` DISABLE KEYS */;
/*!40000 ALTER TABLE `employees` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `finance_ledger`
--

DROP TABLE IF EXISTS `finance_ledger`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `finance_ledger` (
  `transaction_id` varchar(50) NOT NULL,
  `transaction_date` date NOT NULL,
  `transaction_type` enum('Income','Expense') NOT NULL,
  `category` varchar(100) DEFAULT NULL,
  `amount` decimal(15,2) NOT NULL,
  `reference_id` varchar(50) DEFAULT NULL,
  `recorded_by` int(11) DEFAULT NULL,
  `balance_after_transaction` decimal(15,2) DEFAULT NULL,
  PRIMARY KEY (`transaction_id`),
  KEY `recorded_by` (`recorded_by`),
  CONSTRAINT `finance_ledger_ibfk_1` FOREIGN KEY (`recorded_by`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `finance_ledger`
--

LOCK TABLES `finance_ledger` WRITE;
/*!40000 ALTER TABLE `finance_ledger` DISABLE KEYS */;
/*!40000 ALTER TABLE `finance_ledger` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventory_finished_goods`
--

DROP TABLE IF EXISTS `inventory_finished_goods`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `inventory_finished_goods` (
  `item_id` varchar(50) NOT NULL,
  `item_name` varchar(150) DEFAULT NULL,
  `stone_measurement` varchar(50) DEFAULT NULL,
  `category` varchar(50) DEFAULT NULL,
  `quantity_in_stock` int(11) DEFAULT NULL,
  `warehouse_location` varchar(100) DEFAULT NULL,
  `unit_cost` decimal(12,2) DEFAULT NULL,
  PRIMARY KEY (`item_id`),
  CONSTRAINT `inventory_finished_goods_ibfk_1` FOREIGN KEY (`item_id`) REFERENCES `item_master` (`item_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventory_finished_goods`
--

LOCK TABLES `inventory_finished_goods` WRITE;
/*!40000 ALTER TABLE `inventory_finished_goods` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventory_finished_goods` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventory_ledger`
--

DROP TABLE IF EXISTS `inventory_ledger`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `inventory_ledger` (
  `transaction_id` int(11) NOT NULL AUTO_INCREMENT,
  `item_id` varchar(50) NOT NULL,
  `warehouse_id` int(11) NOT NULL,
  `transaction_type` enum('Receipt','Dispatch','Consumed','Produced','Scrap','Adjustment') NOT NULL,
  `quantity_change` decimal(12,3) NOT NULL,
  `reference_id` varchar(50) DEFAULT NULL,
  `recorded_by` int(11) NOT NULL,
  `timestamp` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`transaction_id`),
  KEY `item_id` (`item_id`),
  KEY `warehouse_id` (`warehouse_id`),
  KEY `recorded_by` (`recorded_by`),
  CONSTRAINT `inventory_ledger_ibfk_1` FOREIGN KEY (`item_id`) REFERENCES `item_master` (`item_id`),
  CONSTRAINT `inventory_ledger_ibfk_2` FOREIGN KEY (`warehouse_id`) REFERENCES `warehouses` (`warehouse_id`),
  CONSTRAINT `inventory_ledger_ibfk_3` FOREIGN KEY (`recorded_by`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=245 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventory_ledger`
--

LOCK TABLES `inventory_ledger` WRITE;
/*!40000 ALTER TABLE `inventory_ledger` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventory_ledger` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `invoices_jo`
--

DROP TABLE IF EXISTS `invoices_jo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `invoices_jo` (
  `invoice_id` varchar(50) NOT NULL,
  `so_id` varchar(50) NOT NULL,
  `payload` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`payload`)),
  `qr_code` text DEFAULT NULL,
  `submission_status` varchar(20) DEFAULT 'Pending',
  `istd_ref` varchar(100) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`invoice_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `invoices_jo`
--

LOCK TABLES `invoices_jo` WRITE;
/*!40000 ALTER TABLE `invoices_jo` DISABLE KEYS */;
/*!40000 ALTER TABLE `invoices_jo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `item_master`
--

DROP TABLE IF EXISTS `item_master`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `item_master` (
  `item_id` varchar(50) NOT NULL,
  `item_name` varchar(150) NOT NULL,
  `category` enum('Raw Material','Finished Good','Equipment','Consumable') NOT NULL,
  `dimensions` varchar(20) DEFAULT NULL,
  `base_uom` varchar(20) NOT NULL,
  `standard_cost` decimal(12,2) DEFAULT 0.00,
  `min_stock_level` decimal(12,3) DEFAULT 0.000,
  PRIMARY KEY (`item_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `item_master`
--

LOCK TABLES `item_master` WRITE;
/*!40000 ALTER TABLE `item_master` DISABLE KEYS */;
/*!40000 ALTER TABLE `item_master` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `journal_entries`
--

DROP TABLE IF EXISTS `journal_entries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `journal_entries` (
  `journal_id` int(11) NOT NULL AUTO_INCREMENT,
  `entry_date` date NOT NULL,
  `source_module` varchar(50) NOT NULL,
  `description` text NOT NULL,
  `reference_id` varchar(50) DEFAULT NULL,
  `recorded_by` int(11) NOT NULL,
  PRIMARY KEY (`journal_id`),
  KEY `recorded_by` (`recorded_by`),
  CONSTRAINT `journal_entries_ibfk_1` FOREIGN KEY (`recorded_by`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `journal_entries`
--

LOCK TABLES `journal_entries` WRITE;
/*!40000 ALTER TABLE `journal_entries` DISABLE KEYS */;
/*!40000 ALTER TABLE `journal_entries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `journal_lines`
--

DROP TABLE IF EXISTS `journal_lines`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `journal_lines` (
  `line_id` int(11) NOT NULL AUTO_INCREMENT,
  `journal_id` int(11) NOT NULL,
  `account_id` int(11) NOT NULL,
  `direction` enum('Debit','Credit') NOT NULL,
  `amount` decimal(15,2) NOT NULL,
  PRIMARY KEY (`line_id`),
  KEY `journal_id` (`journal_id`),
  KEY `account_id` (`account_id`),
  CONSTRAINT `journal_lines_ibfk_1` FOREIGN KEY (`journal_id`) REFERENCES `journal_entries` (`journal_id`) ON DELETE CASCADE,
  CONSTRAINT `journal_lines_ibfk_2` FOREIGN KEY (`account_id`) REFERENCES `chart_of_accounts` (`account_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `journal_lines`
--

LOCK TABLES `journal_lines` WRITE;
/*!40000 ALTER TABLE `journal_lines` DISABLE KEYS */;
/*!40000 ALTER TABLE `journal_lines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leave_requests`
--

DROP TABLE IF EXISTS `leave_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `leave_requests` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `employee_id` int(11) NOT NULL,
  `leave_type` enum('Annual','Sick','Maternity','Paternity','Bereavement') NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  `status` enum('Pending','Approved','Rejected') DEFAULT 'Pending',
  `reason` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_leave_employee_id` (`employee_id`),
  CONSTRAINT `fk_leave_employee_id` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`employee_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leave_requests`
--

LOCK TABLES `leave_requests` WRITE;
/*!40000 ALTER TABLE `leave_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `leave_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leave_tickets`
--

DROP TABLE IF EXISTS `leave_tickets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `leave_tickets` (
  `ticket_id` int(11) NOT NULL AUTO_INCREMENT,
  `employee_id` int(11) NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  `reason` text DEFAULT NULL,
  `manager_status` enum('Pending','Approved','Rejected') DEFAULT 'Pending',
  `hr_status` enum('Pending','Approved','Rejected') DEFAULT 'Pending',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`ticket_id`),
  KEY `employee_id` (`employee_id`),
  CONSTRAINT `leave_tickets_ibfk_1` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`employee_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leave_tickets`
--

LOCK TABLES `leave_tickets` WRITE;
/*!40000 ALTER TABLE `leave_tickets` DISABLE KEYS */;
INSERT INTO `leave_tickets` VALUES (1,3,'2026-04-05','2026-04-07','Family emergency ΓÇö need 3 days off','Approved','Approved','2026-04-02 14:49:11'),(2,4,'2026-04-10','2026-04-12','Annual vacation ΓÇö visiting family abroad','Approved','Pending','2026-04-02 14:49:11'),(3,6,'2026-04-08','2026-04-08','Medical appointment','Pending','Pending','2026-04-02 14:49:11'),(4,7,'2026-04-15','2026-04-18','Personal travel','Rejected','Pending','2026-04-02 14:49:11'),(5,12,'2026-04-20','2026-04-22','Wedding celebration','Pending','Pending','2026-04-02 14:49:11');
/*!40000 ALTER TABLE `leave_tickets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `material_requests`
--

DROP TABLE IF EXISTS `material_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `material_requests` (
  `request_id` int(11) NOT NULL AUTO_INCREMENT,
  `requested_by` int(11) NOT NULL,
  `item_id` varchar(50) NOT NULL,
  `quantity_requested` decimal(12,3) NOT NULL,
  `unit_price` decimal(12,2) DEFAULT 0.00,
  `reason` text DEFAULT NULL,
  `urgency` enum('Normal','High','Critical') DEFAULT 'Normal',
  `status` enum('Requested','Accepted','Declined') DEFAULT 'Requested',
  `handled_by` int(11) DEFAULT NULL,
  `decline_reason` text DEFAULT NULL,
  `po_id` varchar(50) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `resolved_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`request_id`),
  KEY `requested_by` (`requested_by`),
  KEY `item_id` (`item_id`),
  KEY `handled_by` (`handled_by`),
  CONSTRAINT `material_requests_ibfk_1` FOREIGN KEY (`requested_by`) REFERENCES `users` (`user_id`),
  CONSTRAINT `material_requests_ibfk_2` FOREIGN KEY (`item_id`) REFERENCES `item_master` (`item_id`),
  CONSTRAINT `material_requests_ibfk_3` FOREIGN KEY (`handled_by`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `material_requests`
--

LOCK TABLES `material_requests` WRITE;
/*!40000 ALTER TABLE `material_requests` DISABLE KEYS */;
INSERT INTO `material_requests` VALUES (1,1,'RM-003',500.000,0.25,'','Normal','Requested',NULL,NULL,NULL,'2026-04-19 08:11:57',NULL);
/*!40000 ALTER TABLE `material_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mix_outputs`
--

DROP TABLE IF EXISTS `mix_outputs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mix_outputs` (
  `output_id` int(11) NOT NULL AUTO_INCREMENT,
  `recipe_id` int(11) NOT NULL,
  `item_id` varchar(50) NOT NULL,
  `output_quantity` decimal(12,3) NOT NULL,
  PRIMARY KEY (`output_id`),
  UNIQUE KEY `unique_recipe_item` (`recipe_id`,`item_id`),
  KEY `item_id` (`item_id`),
  CONSTRAINT `mix_outputs_ibfk_1` FOREIGN KEY (`recipe_id`) REFERENCES `recipes` (`recipe_id`) ON DELETE CASCADE,
  CONSTRAINT `mix_outputs_ibfk_2` FOREIGN KEY (`item_id`) REFERENCES `item_master` (`item_id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mix_outputs`
--

LOCK TABLES `mix_outputs` WRITE;
/*!40000 ALTER TABLE `mix_outputs` DISABLE KEYS */;
INSERT INTO `mix_outputs` VALUES (1,1,'FG-001',7.000),(2,1,'FG-004',5.000),(3,1,'FG-ST01',10.000),(4,1,'FG-ST04',8.000),(5,1,'FG-ST03',6.000),(6,1,'FG-SC03',4.000),(7,2,'FG-002',13.000),(8,2,'FG-005',4.000),(9,2,'FG-ST02',6.000),(10,2,'FG-SCC1',5.000),(11,2,'FG-ST05',7.000),(12,2,'FG-SC04',3.000),(13,3,'FG-003',6.000),(14,3,'FG-006',3.000),(15,3,'FG-SC01',8.000),(16,3,'FG-COL1',5.000),(17,3,'FG-C01',4.000),(18,3,'FG-C03',4.000);
/*!40000 ALTER TABLE `mix_outputs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `otp_logs`
--

DROP TABLE IF EXISTS `otp_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `otp_logs` (
  `otp_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `otp_hash` varchar(255) NOT NULL,
  `expires_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `is_used` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`otp_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `otp_logs_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `otp_logs`
--

LOCK TABLES `otp_logs` WRITE;
/*!40000 ALTER TABLE `otp_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `otp_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permissions`
--

DROP TABLE IF EXISTS `permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `permissions` (
  `permission_id` int(11) NOT NULL AUTO_INCREMENT,
  `module_access` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  PRIMARY KEY (`permission_id`),
  UNIQUE KEY `module_access` (`module_access`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permissions`
--

LOCK TABLES `permissions` WRITE;
/*!40000 ALTER TABLE `permissions` DISABLE KEYS */;
INSERT INTO `permissions` VALUES (1,'dashboard','Dashboard access'),(2,'auth','Authentication & user management'),(3,'hr','Human Resources module'),(4,'manufacturing','Production & batch management'),(5,'inventory','Inventory & warehouse'),(6,'procurement','Purchase orders & suppliers'),(7,'finance','Accounting & ledger'),(8,'crm','Sales pipeline & customers'),(9,'admin','Access to User Account Management panel');
/*!40000 ALTER TABLE `permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `po_lines`
--

DROP TABLE IF EXISTS `po_lines`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `po_lines` (
  `line_id` int(11) NOT NULL AUTO_INCREMENT,
  `po_id` varchar(50) NOT NULL,
  `item_id` varchar(50) NOT NULL,
  `quantity` decimal(12,3) NOT NULL,
  `unit_price` decimal(12,2) NOT NULL DEFAULT 0.00,
  `line_total` decimal(15,2) GENERATED ALWAYS AS (`quantity` * `unit_price`) STORED,
  PRIMARY KEY (`line_id`),
  KEY `idx_po` (`po_id`),
  KEY `idx_item` (`item_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `po_lines`
--

LOCK TABLES `po_lines` WRITE;
/*!40000 ALTER TABLE `po_lines` DISABLE KEYS */;
/*!40000 ALTER TABLE `po_lines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `production_orders`
--

DROP TABLE IF EXISTS `production_orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `production_orders` (
  `production_id` varchar(50) NOT NULL,
  `item_id` varchar(50) NOT NULL,
  `recipe_id` int(11) DEFAULT NULL,
  `so_id` varchar(50) DEFAULT NULL,
  `machine_id` varchar(20) DEFAULT NULL,
  `production_date` date DEFAULT NULL,
  `target_quantity` decimal(12,3) NOT NULL,
  `actual_yield` decimal(12,3) DEFAULT 0.000,
  `status` enum('Planned','Mixing','Curing','Completed','Failed') DEFAULT 'Planned',
  `qa_status` enum('Pending','Passed','Failed','Rework') DEFAULT 'Pending',
  `operator_user_id` int(11) NOT NULL,
  `inspected_by` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`production_id`),
  KEY `item_id` (`item_id`),
  KEY `operator_user_id` (`operator_user_id`),
  KEY `inspected_by` (`inspected_by`),
  CONSTRAINT `production_orders_ibfk_1` FOREIGN KEY (`item_id`) REFERENCES `item_master` (`item_id`),
  CONSTRAINT `production_orders_ibfk_2` FOREIGN KEY (`operator_user_id`) REFERENCES `users` (`user_id`),
  CONSTRAINT `production_orders_ibfk_3` FOREIGN KEY (`inspected_by`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `production_orders`
--

LOCK TABLES `production_orders` WRITE;
/*!40000 ALTER TABLE `production_orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `production_orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `purchase_orders`
--

DROP TABLE IF EXISTS `purchase_orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `purchase_orders` (
  `po_id` varchar(50) NOT NULL,
  `supplier_id` int(11) NOT NULL,
  `order_date` date NOT NULL,
  `total_amount` decimal(15,2) DEFAULT NULL,
  `currency` varchar(10) DEFAULT NULL,
  `delivery_location` varchar(255) DEFAULT NULL,
  `order_status` enum('Pending','Received','Cancelled') DEFAULT 'Pending',
  `payment_status` enum('Pending','Paid') DEFAULT 'Pending',
  `created_by` int(11) DEFAULT NULL,
  `item_id` varchar(50) DEFAULT NULL,
  `requested_quantity` decimal(12,3) DEFAULT NULL,
  PRIMARY KEY (`po_id`),
  KEY `supplier_id` (`supplier_id`),
  CONSTRAINT `purchase_orders_ibfk_1` FOREIGN KEY (`supplier_id`) REFERENCES `suppliers` (`supplier_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `purchase_orders`
--

LOCK TABLES `purchase_orders` WRITE;
/*!40000 ALTER TABLE `purchase_orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `purchase_orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quotation_lines`
--

DROP TABLE IF EXISTS `quotation_lines`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `quotation_lines` (
  `quote_line_id` int(11) NOT NULL AUTO_INCREMENT,
  `quote_id` int(11) NOT NULL,
  `item_id` varchar(50) NOT NULL,
  `quantity` decimal(12,3) NOT NULL,
  `unit_price` decimal(12,2) NOT NULL,
  `total_price` decimal(15,2) GENERATED ALWAYS AS (`quantity` * `unit_price`) STORED,
  PRIMARY KEY (`quote_line_id`),
  KEY `quote_id` (`quote_id`),
  KEY `item_id` (`item_id`),
  CONSTRAINT `quotation_lines_ibfk_1` FOREIGN KEY (`quote_id`) REFERENCES `quotations` (`quote_id`) ON DELETE CASCADE,
  CONSTRAINT `quotation_lines_ibfk_2` FOREIGN KEY (`item_id`) REFERENCES `item_master` (`item_id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quotation_lines`
--

LOCK TABLES `quotation_lines` WRITE;
/*!40000 ALTER TABLE `quotation_lines` DISABLE KEYS */;
INSERT INTO `quotation_lines` VALUES (1,1,'FG-001',50.000,55.00,2750.00),(2,1,'FG-005',200.000,20.50,4100.00),(3,2,'FG-003',80.000,75.00,6000.00),(4,2,'FG-004',30.000,145.00,4350.00),(5,3,'FG-002',60.000,42.00,2520.00),(6,3,'FG-005',100.000,17.00,1700.00),(7,1,'FG-001',50.000,55.00,2750.00),(8,1,'FG-005',200.000,20.50,4100.00),(9,2,'FG-003',80.000,75.00,6000.00),(10,2,'FG-004',30.000,145.00,4350.00),(11,3,'FG-002',60.000,42.00,2520.00),(12,3,'FG-005',100.000,17.00,1700.00);
/*!40000 ALTER TABLE `quotation_lines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quotations`
--

DROP TABLE IF EXISTS `quotations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `quotations` (
  `quote_id` int(11) NOT NULL AUTO_INCREMENT,
  `customer_id` int(11) NOT NULL,
  `valid_until` date DEFAULT NULL,
  `total_amount` decimal(15,2) DEFAULT 0.00,
  `status` enum('Draft','Sent','Accepted','Rejected') DEFAULT 'Draft',
  `prepared_by` int(11) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`quote_id`),
  KEY `customer_id` (`customer_id`),
  KEY `prepared_by` (`prepared_by`),
  CONSTRAINT `quotations_ibfk_1` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`customer_id`) ON DELETE CASCADE,
  CONSTRAINT `quotations_ibfk_2` FOREIGN KEY (`prepared_by`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quotations`
--

LOCK TABLES `quotations` WRITE;
/*!40000 ALTER TABLE `quotations` DISABLE KEYS */;
INSERT INTO `quotations` VALUES (1,4,'2026-04-15',8200.00,'Sent',4,'2026-04-02 14:49:10'),(2,5,'2026-04-20',12500.00,'Draft',4,'2026-04-02 14:49:10'),(3,6,'2026-04-10',3800.00,'Sent',4,'2026-04-02 14:49:10');
/*!40000 ALTER TABLE `quotations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recipe_ingredients`
--

DROP TABLE IF EXISTS `recipe_ingredients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `recipe_ingredients` (
  `recipe_id` int(11) NOT NULL,
  `raw_material_id` varchar(50) NOT NULL,
  `quantity_required` decimal(12,3) NOT NULL,
  PRIMARY KEY (`recipe_id`,`raw_material_id`),
  KEY `raw_material_id` (`raw_material_id`),
  CONSTRAINT `recipe_ingredients_ibfk_1` FOREIGN KEY (`recipe_id`) REFERENCES `recipes` (`recipe_id`) ON DELETE CASCADE,
  CONSTRAINT `recipe_ingredients_ibfk_2` FOREIGN KEY (`raw_material_id`) REFERENCES `item_master` (`item_id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recipe_ingredients`
--

LOCK TABLES `recipe_ingredients` WRITE;
/*!40000 ALTER TABLE `recipe_ingredients` DISABLE KEYS */;
INSERT INTO `recipe_ingredients` VALUES (1,'RM-001',50.000),(1,'RM-004',120.000),(1,'RM-011',90.000),(1,'RM-012',21.000),(1,'RM-013',0.270),(1,'RM-014',0.065),(2,'RM-002',60.000),(2,'RM-004',40.000),(2,'RM-006',2.000),(2,'RM-012',18.000),(3,'RM-001',30.000),(3,'RM-005',50.000),(3,'RM-007',3.000),(3,'RM-009',10.000),(3,'RM-012',15.000);
/*!40000 ALTER TABLE `recipe_ingredients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recipes`
--

DROP TABLE IF EXISTS `recipes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `recipes` (
  `recipe_id` int(11) NOT NULL AUTO_INCREMENT,
  `finished_item_id` varchar(50) NOT NULL,
  `recipe_name` varchar(150) NOT NULL,
  `base_yield_qty` decimal(12,3) NOT NULL,
  `curing_time_hours` int(11) DEFAULT 24,
  PRIMARY KEY (`recipe_id`),
  KEY `finished_item_id` (`finished_item_id`),
  CONSTRAINT `recipes_ibfk_1` FOREIGN KEY (`finished_item_id`) REFERENCES `item_master` (`item_id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recipes`
--

LOCK TABLES `recipes` WRITE;
/*!40000 ALTER TABLE `recipes` DISABLE KEYS */;
INSERT INTO `recipes` VALUES (1,'FG-001','Standard Artificial Stone Mix (╪«┘ä╪╖╪⌐ ╪¡╪¼╪▒ ╪╡┘å╪º╪╣┘è)',1.000,24),(2,'FG-002','Granite Texture Mix (╪«┘ä╪╖╪⌐ ╪¼╪▒╪º┘å┘è╪¬)',1.000,18),(3,'FG-003','Decorative Pattern Mix (╪«┘ä╪╖╪⌐ ╪»┘è┘â┘ê╪▒)',1.000,36);
/*!40000 ALTER TABLE `recipes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role_permissions`
--

DROP TABLE IF EXISTS `role_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `role_permissions` (
  `role_id` int(11) NOT NULL,
  `permission_id` int(11) NOT NULL,
  PRIMARY KEY (`role_id`,`permission_id`),
  KEY `permission_id` (`permission_id`),
  CONSTRAINT `role_permissions_ibfk_1` FOREIGN KEY (`role_id`) REFERENCES `roles` (`role_id`) ON DELETE CASCADE,
  CONSTRAINT `role_permissions_ibfk_2` FOREIGN KEY (`permission_id`) REFERENCES `permissions` (`permission_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role_permissions`
--

LOCK TABLES `role_permissions` WRITE;
/*!40000 ALTER TABLE `role_permissions` DISABLE KEYS */;
INSERT INTO `role_permissions` VALUES (1,1),(1,2),(1,3),(1,4),(1,5),(1,6),(1,7),(1,8),(1,9),(2,1),(2,4),(2,5),(3,1),(3,5),(3,7),(3,8),(4,1),(4,5),(4,6),(5,1),(5,3),(6,1),(6,5),(7,1),(7,2),(7,9),(8,1),(8,7);
/*!40000 ALTER TABLE `role_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `roles` (
  `role_id` int(11) NOT NULL AUTO_INCREMENT,
  `role_name` varchar(50) NOT NULL,
  `description` text DEFAULT NULL,
  PRIMARY KEY (`role_id`),
  UNIQUE KEY `role_name` (`role_name`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'Executive Board','Full system access'),(2,'Production Manager','Manage production and inventory'),(3,'Sales Engineer','Manage sales and CRM'),(4,'Procurement Officer','Manage purchases and suppliers'),(5,'HR Manager','Human Resources administration'),(6,'Inventory Manager','Warehouse control, safety stock, and material registration'),(7,'IT Administrator','System maintenance, user provisioning, and security'),(8,'Finance Manager','General ledger, payroll, and financial compliance');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sales_order_lines`
--

DROP TABLE IF EXISTS `sales_order_lines`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sales_order_lines` (
  `line_id` int(11) NOT NULL AUTO_INCREMENT,
  `so_id` varchar(50) NOT NULL,
  `item_id` varchar(50) NOT NULL,
  `quantity` decimal(12,3) NOT NULL,
  `unit_price` decimal(12,2) NOT NULL,
  PRIMARY KEY (`line_id`),
  KEY `so_id` (`so_id`),
  KEY `item_id` (`item_id`),
  CONSTRAINT `sales_order_lines_ibfk_1` FOREIGN KEY (`so_id`) REFERENCES `sales_orders` (`so_id`) ON DELETE CASCADE,
  CONSTRAINT `sales_order_lines_ibfk_2` FOREIGN KEY (`item_id`) REFERENCES `item_master` (`item_id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sales_order_lines`
--

LOCK TABLES `sales_order_lines` WRITE;
/*!40000 ALTER TABLE `sales_order_lines` DISABLE KEYS */;
INSERT INTO `sales_order_lines` VALUES (1,'SO-260418-1736','FG-002',1.000,35.00),(2,'SO-260418-5738','FG-002',1.000,35.00),(3,'SO-260419-5049','FG-001',3.000,45.00),(4,'SO-260419-8400','FG-002',5.000,35.00),(5,'SO-260423-7623','FG-002',8.000,35.00);
/*!40000 ALTER TABLE `sales_order_lines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sales_orders`
--

DROP TABLE IF EXISTS `sales_orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sales_orders` (
  `so_id` varchar(50) NOT NULL,
  `quote_id` int(11) DEFAULT NULL,
  `customer_id` int(11) NOT NULL,
  `order_date` date NOT NULL,
  `total_price` decimal(12,2) DEFAULT NULL,
  `delivery_location` varchar(100) DEFAULT NULL,
  `order_status` enum('Pending','In Production','Pending Delivery','Delivered','Archived') DEFAULT 'Pending',
  `handled_by` int(11) NOT NULL,
  `payment_method` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`so_id`),
  KEY `quote_id` (`quote_id`),
  KEY `customer_id` (`customer_id`),
  KEY `handled_by` (`handled_by`),
  CONSTRAINT `sales_orders_ibfk_1` FOREIGN KEY (`quote_id`) REFERENCES `quotations` (`quote_id`) ON DELETE SET NULL,
  CONSTRAINT `sales_orders_ibfk_2` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`customer_id`) ON UPDATE CASCADE,
  CONSTRAINT `sales_orders_ibfk_3` FOREIGN KEY (`handled_by`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sales_orders`
--

LOCK TABLES `sales_orders` WRITE;
/*!40000 ALTER TABLE `sales_orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `sales_orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `supplier_items`
--

DROP TABLE IF EXISTS `supplier_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `supplier_items` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `supplier_id` int(11) NOT NULL,
  `item_id` varchar(50) NOT NULL,
  `unit_price` decimal(12,2) DEFAULT NULL COMMENT 'Supplier-specific price per unit',
  `lead_time_days` int(11) DEFAULT 7 COMMENT 'Typical delivery time in days',
  `is_preferred` tinyint(1) DEFAULT 0 COMMENT 'Preferred supplier for this item',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_supplier_item` (`supplier_id`,`item_id`),
  KEY `idx_supplier` (`supplier_id`),
  KEY `idx_item` (`item_id`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `supplier_items`
--

LOCK TABLES `supplier_items` WRITE;
/*!40000 ALTER TABLE `supplier_items` DISABLE KEYS */;
INSERT INTO `supplier_items` VALUES (1,1,'RM-001',6.80,7,1),(2,1,'RM-002',5.50,7,1),(3,1,'RM-012',0.08,7,1),(4,2,'RM-004',9.60,7,1),(5,2,'RM-005',12.00,7,1),(6,2,'RM-003',4.20,7,1),(7,2,'RM-011',1.20,7,1),(8,3,'RM-008',18.50,7,1),(9,3,'RM-006',22.00,7,1),(10,3,'RM-007',24.00,7,1),(11,3,'RM-010',8.50,7,1),(12,3,'RM-013',40.00,7,1),(13,3,'RM-009',15.00,7,1),(14,4,'RM-014',28.00,7,1),(15,4,'RM-013',42.00,7,0),(16,4,'RM-010',9.00,7,0),(17,5,'RM-005',14.50,7,0),(18,5,'RM-004',11.00,7,0),(19,5,'RM-003',5.00,7,0);
/*!40000 ALTER TABLE `supplier_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `suppliers`
--

DROP TABLE IF EXISTS `suppliers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `suppliers` (
  `supplier_id` int(11) NOT NULL AUTO_INCREMENT,
  `supplier_name` varchar(255) NOT NULL,
  `preferred_currency` varchar(10) DEFAULT 'JOD',
  `contact_person` varchar(100) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `email` varchar(150) DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL,
  `supplies_items` text DEFAULT NULL,
  PRIMARY KEY (`supplier_id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `suppliers`
--

LOCK TABLES `suppliers` WRITE;
/*!40000 ALTER TABLE `suppliers` DISABLE KEYS */;
/*!40000 ALTER TABLE `suppliers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `system_config`
--

DROP TABLE IF EXISTS `system_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `system_config` (
  `config_key` varchar(100) NOT NULL,
  `config_value` text DEFAULT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`config_key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_config`
--

LOCK TABLES `system_config` WRITE;
/*!40000 ALTER TABLE `system_config` DISABLE KEYS */;
/*!40000 ALTER TABLE `system_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `system_logs`
--

DROP TABLE IF EXISTS `system_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `system_logs` (
  `log_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `action_type` varchar(100) NOT NULL,
  `description` text NOT NULL,
  `status` enum('Success','Failure','Warning') NOT NULL,
  `timestamp` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`log_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `system_logs_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=256 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_logs`
--

LOCK TABLES `system_logs` WRITE;
/*!40000 ALTER TABLE `system_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `system_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `user_id` int(11) NOT NULL AUTO_INCREMENT,
  `employee_id` int(11) NOT NULL,
  `role_id` int(11) NOT NULL,
  `email` varchar(150) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `mfa_enabled` tinyint(1) DEFAULT 1,
  `account_status` enum('Active','Suspended') DEFAULT 'Active',
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `employee_id` (`employee_id`),
  UNIQUE KEY `email` (`email`),
  KEY `role_id` (`role_id`),
  CONSTRAINT `users_ibfk_1` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`employee_id`) ON DELETE CASCADE,
  CONSTRAINT `users_ibfk_2` FOREIGN KEY (`role_id`) REFERENCES `roles` (`role_id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `warehouses`
--

DROP TABLE IF EXISTS `warehouses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `warehouses` (
  `warehouse_id` int(11) NOT NULL AUTO_INCREMENT,
  `warehouse_name` varchar(100) NOT NULL,
  PRIMARY KEY (`warehouse_id`),
  UNIQUE KEY `warehouse_name` (`warehouse_name`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `warehouses`
--

LOCK TABLES `warehouses` WRITE;
/*!40000 ALTER TABLE `warehouses` DISABLE KEYS */;
INSERT INTO `warehouses` VALUES (3,'Finished Goods Store'),(1,'Main Warehouse'),(2,'Raw Material Store');
/*!40000 ALTER TABLE `warehouses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `web_order_items`
--

DROP TABLE IF EXISTS `web_order_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `web_order_items` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `customer_id` int(11) NOT NULL,
  `item_id` varchar(50) NOT NULL,
  `item_name` varchar(150) NOT NULL,
  `quantity` int(11) NOT NULL,
  `unit_price` decimal(12,2) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `customer_id` (`customer_id`),
  KEY `item_id` (`item_id`),
  CONSTRAINT `web_order_items_ibfk_1` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`customer_id`) ON DELETE CASCADE,
  CONSTRAINT `web_order_items_ibfk_2` FOREIGN KEY (`item_id`) REFERENCES `item_master` (`item_id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `web_order_items`
--

LOCK TABLES `web_order_items` WRITE;
/*!40000 ALTER TABLE `web_order_items` DISABLE KEYS */;
INSERT INTO `web_order_items` VALUES (1,15,'FG-002','Artificial Granite Tile 60x60',1,35.00,'2026-04-18 20:55:02'),(2,16,'FG-002','Artificial Granite Tile 60x60',1,35.00,'2026-04-18 21:05:59'),(3,17,'FG-001','Artificial Marble Slab 120x60',3,45.00,'2026-04-19 09:10:49'),(4,18,'FG-002','Artificial Granite Tile 60x60',5,35.00,'2026-04-19 09:41:56'),(5,19,'FG-002','Artificial Granite Tile 60x60',8,35.00,'2026-04-23 09:58:32');
/*!40000 ALTER TABLE `web_order_items` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-03 20:52:27
